#**DURATION: 20 MINUTES**
# Compensation Quiz 2

## Q1: Integration

Below are two dataframes, namely `df_students_schools` and `df_students_Universities`. They both have the same column names: `First Name`, `Last Name`, and `School`. Except that `df_students_Universities` has an extra column for the `GPA`.

In both dataframes the `First Name` and `Last Name` represent the same person, but the `School` column in the `df_students_schools`represent the high school name. Meanwhile, in  `df_students_Universities` it represents the university name.

Integrate the two dataframes with `pd.merge` such that for each student there is 1 row representing in which high school he was and in which university.

In [ ]:
import pandas as pd
students_Schools = [['Alex','Adams','NIS'],['Bob','David','MES'],['Clarke','Klarkson','EBIS'],['Sarah','Ahmed','EBIS']]
students_Universities = [['Alex','Adams','AUC','B'],['Bob','David','GUC','A'],['Clarke','Klarkson','GUC','C'],['Sarah','Ahmed','BUE','A']]
df_students_schools = pd.DataFrame(students_Schools,columns=['First Name','Last Name','School'])
df_students_Universities = pd.DataFrame(students_Universities,columns=['First Name','Last Name','School','GPA'])
print(df_students_schools)
print(df_students_Universities)

  First Name Last Name School
0       Alex     Adams    NIS
1        Bob     David    MES
2     Clarke  Klarkson   EBIS
3      Sarah     Ahmed   EBIS
  First Name Last Name School GPA
0       Alex     Adams    AUC   B
1        Bob     David    GUC   A
2     Clarke  Klarkson    GUC   C
3      Sarah     Ahmed    BUE   A

In [ ]:
#Your code here

## Q2: Feature Engineering

a. Create an *Indicator Feature* for GUC-ians, using the dataset you integrated above.

In [ ]:
#Your code here

b. Apply the appropriate encoding method for the column GPA and for the column that represents the university name.

In [ ]:
#Your code here

c. For each column explain why the encoding method you chose was the most appropriate.

Answer: